*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 15px;
    font-weight: 200;
}

p{
    font-size: 50px;
    margin: 10px 0;
    line-height: 15px;
}

a{
    text-decoration: none;
}


.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 15px;    
}

.large{
        font-size: 15px;
        
}

.text-orange{
    color: #d64106;
}

.text-gray{
    color: #a2a7acb7;
}

.display-1{
    font-size: 70px;
    text-transform: uppercase;
}

.btn{
    display:inline-block;
    font-size: 15px;
    padding: 15px 50px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 30px;
}

.btn-light:hover{
    background-color: #e28763;
}

.btn-light{
  background-color:#d64106b7;
  border: 1px solid;
  color: aliceblue;

}

.btn-outline{
border: 2px solid white;
color: aliceblue;

}

.btn-outline:hover{
    background-color: rgba(206, 199, 199, 0.658);
}

.btn-dark{
    background: #6c757d;
    border: 1px solid #6c757d;
    color: white;
}

form label{
    display: inline-block;
    margin-bottom: 8px;
}

form .form-group{
    margin-bottom: 16px;
}

form .form-control{
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    background:#6c757d;
    border-radius: 4px;
    border: 1px solid;

}


/* HEADER */

#mainheader{
    height: 100vh;
    padding-top: 50px;
}

#bodyheader{
    height: 20vh;
    padding-top: 50px   ;
}

/* navbar */
#mainnavbar{
    overflow: auto;
}

#navbar{
    background: #d64106;
    color: #fff;
    overflow: auto;
}

#navbar a{
    color: #fff;
}

#mainnavbar a{
    color: #6c757d;
}

#mainnavbar .logo,#navbar .logo{
    float: left;
    padding-top: 30px;
    font-size: 28px;
    text-transform: uppercase;
}

#mainnavbar ul,#navbar ul{
    list-style: none;
    float: right;
    text-transform: uppercase;

}

#mainnavbar ul li, #navbar ul li{
    float: left;   

}

#mainnavbar ul li a, #navbar ul li a{
    display: block;
    padding: 30px 70px;
    text-align: center;
}

#mainnavbar ul li a:hover{
background: #d64106;
color: white;
}

#navbar ul li a:hover, #navbar ul li a.current{
    background: #6c757d;

}

/*showcase */
#showcase{
    background-image: url(img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: right;
    padding-top: 200px;
    padding-bottom: 90px;
    color: white;
}

#showcase h1{
    padding-left: 300px;

}

#showcase p{
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ABOUT */

#about{
    color: #091726;
    height: 70vh;
    padding-top: 50px;

}

#about h2{
    padding-bottom: 20px;

}

#about p{
    padding-bottom: 20px;
}

.about-left{
    float: left;
    width: 50%;
    padding-right: 40px;
}

.about-left .large{
    font-weight: 500;
}

.about-right {
   float: right;
   width: 50%;
   padding-left: 40px;
}

p{
    font-size: 18px;
}

.container h2{
    font-size: 50px;
    font-weight: 700;
}

footer{
    text-align: center;
    margin: 0;
    padding: 20px 40px;
    background-color: #a2a7acb7;
    font-weight: 600;
    text-transform: uppercase;
    
    
}

.footer-titulo{
    font-size: 20px;
    text-transform: uppercase;
}

/* vehiculos */

#services{
    height: 70vh;
    padding-top: 50px;

}

#services h2{
    padding-bottom: 50px;
}

.services-box{
    float: left;
    width: 33%;
    padding: 20px;
}

.services-box img{
    width: 100%;
    padding-bottom: 20px;
}

/* contacto */

#contacto{
    display: flex;
    height: 100vh;
    padding-top: 50px;   
    justify-content: center;

}

/* #contacto h2{
    padding-bottom: 20px;
} */

#contacto form{
    width: 50vw;
 
}


#contacto .btn{
    width: 100%;
    border-radius: 5px;

} 

.numero{
    font-weight: 600;
}

.enlacesredes a{
    color: #091726;
}

.enlacesredes a:hover{
    color: #fff;

}







